@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <hgroup>
        <h1>Erreur.</h1>
        <h2>La base de donnée n'a pas pu être contacté.</h2>
        <p>@ViewBag.errorMessage</p>
    </hgroup>
</body>
</html>


