@using ENAC_IT_BUDGET.ViewModels
@model ENAC_IT_BUDGET.ViewModels.VariablesFormViewModel
@{
    ViewBag.Title = "Home Page";
}

<main>
    <h1>Page d'accueil</h1>
    <p>Connecté en tant que : @Session["email"]</p>
    @*@string.Join(", ", (string[])Session["unit"])*@

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <label for="unitName">Sélection de l'unité:</label>
        @Html.DropDownList("unit",new SelectList(ViewBag.data, "NoUnit", "NomUnit"))
        <br />
        <label for="date">Sélection de l'année:</label>
        @Html.EditorFor(model => model.Date, new { htmlAttributes = new { @class = "form-control" } })
        <br />
        <input type="submit" value="Submit">
        
    }
</main>